.select2-container-multi .select2-choices .select2-search-field input {
  padding-top: 2px;
  padding-bottom: 3px;
}

.select2-container-multi .select2-choices {
  border: none;
  padding-bottom: 1px;
  background-image: none;
  top: -4px;
  left: -10px;
}

.select2-container-multi.select2-container-active .select2-choices{
  border: none;
  box-shadow: none;
}

.select2-search-choice-close:hover {
  color: #000;
  text-decoration: none;
}
.select2-search-choice-close:active {
  color: #666;
  text-decoration: none;
}
.select2-search-choice-close:visited {
  color: #666;
  text-decoration: none;
}
.select2-search-choice-close {
  color: #666;
  background: none;
  font-size: 10px !important;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 4px !important;
}

.select2-search-choice-close:before {
  content: "\e014";
}

.select2-container .select2-choice {
  height: 28px;
}